*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
    min-height:100vh;
    color:white;
}

header{
    text-align:center;
    padding:30px;
}

header h1{
    font-size:40px;
    margin-bottom:10px;
}

header p{
    font-size:18px;
    color:#ddd;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    padding:20px;
}

.card{
    background:white;
    color:black;
    width:320px;
    padding:20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.3);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

input{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

button:hover{
    background:#1d4ed8;
}

h2{
    margin-bottom:15px;
}

h3{
    margin-top:15px;
    color:#0a7a2f;
}

footer{
    text-align:center;
    padding:20px;
    color:white;
    margin-top:20px;
}